<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Restaurante do Zé
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Anuncio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
        <img src="../../assets/rest.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Restaurante</ion-card-subtitle>
          <ion-card-title>Restaurante do Zé</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          As melhores opções de self-service na região
        </ion-card-content>
      </ion-card>

      <ion-item>
          <ion-label>
            <h2>Quilo Self-Service</h2>
            <h3>R$20,00</h3>
          </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
              <h2>Prato Feito</h2>
              <h3>R$15,00</h3>
            </ion-label>
          </ion-item>
</ion-content>
